html {
    height: 100%;
    width: 100%;
}

body {
    padding: 0px;
    background-image: url(img/paper-1074131_1920.jpg);
    margin: auto;
    max-width: 1280px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 100px;
}

.main-container {}

header {
    text-align: center;
}

.banner {
    height: 250px;
    width: 100%;
}

select {
    background: #5D534A;
    font-size: 18px;
    font-family: 'Muli', 'sans-serif';
    color: #E6DDC6;
    font-weight: bold;
    border-color: blanchedalmond;
    margin-right: 40px;
    width: 210px;
    text-align: center;
}

label {
    margin-right: 20px;
}

.container {
    margin: 0px;
    width: 100%;
}


/* Esto se centrará en cada uno de los elementos que sea hijo del #grid-movies div */

#grid-movies.grid-movies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}


/* #detail-information.detail-information {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
} */

.films__container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    margin-top: 30px;
    gap: 30px;
}

.flip-card {
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    transition: 2.00s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    margin: 50px;
    width: 100%;
    height: 100%;
}

.flip-card-back {
    padding: 10px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #5D534A;
    color: #FFF5DA;
    transform: rotateY(180deg);
    width: 200px;
    height: 300px;
}

.filter {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-family: 'Muli', 'sans-serif';
}

a:link {
    color: #FFF5DA;
}

a:visited {
    color: #2B2B2B;
}

a:active {
    color: #C8C2BC;
}

a:hover {
    color: #AAAAAA;
}

.button {
    background-color: #5D534A;
    border: none;
    border-radius: 8px;
    color: #E6DDC6;
    width: 90px;
    font-size: 19px;
    font-family: 'Muli', 'sans-serif';
    font-weight: bold;
    margin-left: 20px;
}

.imgfilm {
    box-shadow: 3px 3px 3px 3px #2B2B2B, 8px 8px 8px 8px #423F3E;
    width: 100%;
    height: 300px;
}

.imgDetail {
    box-shadow: 3px 3px 3px 3px #2B2B2B, 8px 8px 8px 8px #423F3E;
    width: 60%;
    height: 400px;
}

.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
}

.img-footer {
    width: 20px;
    height: 20px;
    padding: 10px;
}

.imgreadme {
    width: 200px;
    height: 285px;
}


/* Estilo de detail titulo, descrpcion y poster */

.some-page-wrapper {
    margin: 15px;
    margin-left: 10%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.double-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
}

.blue-column {
    height: 500px;
    width: 80%;
    color: #2B2B2B;
    font-family: 'Londrina Solid', cursive;
    line-height: 1.5em;
    font-size: 20px;
    text-align: justify;
}

.title-detail {
    font-size: 25px;
    text-align: justify;
    color: #2B2B2B;
    font-family: 'Londrina Solid', cursive;
}

.green-column {
    height: 100px;
}


/* Terminando estilos de detail page */

@media (max-width: 800px) {
    form {
        display: none;
    }
    .btn--filter {
        display: grid;
    }
    .btn--times {
        position: absolute;
        top: 15px;
        right: 15px;
        padding: 10px 12px;
        border-radius: 50%;
        border: 1px solid #dcdcdc;
        color: #2B2B2B;
        font-size: 16px;
        text-transform: uppercase;
    }
}

@media (min-width: 800px) {
    .btn--filter,
    .btn--times {
        display: none;
    }
}

form.form--showed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-items: center;
    background: rgba(255, 255, 255, .9);
    z-index: 10;
    justify-content: center;
}